@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-zinc-700;
    border-left: 8px solid transparent;
    background-clip: padding-box;
  }

  body {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
      "Helvetica", sans-serif;
  }

  button {
    @apply outline-none;
  }

  ul {
    @apply list-disc ml-7;
  }

  li {
    @apply mt-2;
  }
}
